@import './_fonts.css';
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer components {
	.btn {
		background: blue;
	}
}

@layer utilities {
	.align-banana {
		text-align: banana;
	}
}

@layer base {
	html {
		width: 100%;
		height: 100%;
		font-family: 'barlow-medium';
	}

	body {
		width: 100%;
		height: 100%;

		font-size: 1.4rem;

		#root{
			height: 100%;
		}

		@screen md {
			font-size: 1.5rem;
		}
	}

	h2 {
		@apply text-xl;
	}

	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}
}